*{
    text-align: center;
    font-size: 30px;
    background-color: aqua;
    color: hotpink;
   
}
.lor-class{
    background-color: chartreuse;
    border: 3px dotted red;
}
.baslik2{
    border: 3px solid rgb(red, green, blue);
    padding: 45px;
    background-color: yellowgreen;
    margin: 45px;
    color: cyan;
}

.baslik3{
    border: 4px dotted orangered;
border-radius: 5px;
background-color: burlywood;
margin: 10px 240px;
padding: 2rem 3rem 0 5px;

}

.baslik4{
    border: 15px dashed ;
    background-color: orange;
    text-transform: uppercase;
    border-radius: 30px;
}

.baslik1{
    border-top: 3px solid green;
    border-bottom: 3px solid pink ;
    margin-top: 5rem;
    margin-right: 3rem;
    padding: 2rem 0 0 6rem;
  }
  .spanEl{
    background-color: blueviolet;
    color: black;
    padding: 7px 0;
    }

